[submodule "src/jwt_tool"]
	path = src/jwt_tool
	url = https://github.com/ticarpi/jwt_tool.git
[submodule "src/DNSrebinder"]
	path = src/DNSrebinder
	url = https://github.com/mogwailabs/DNSrebinder.git
[submodule "src/php_filter_chain_generator"]
	path = src/php_filter_chain_generator
	url = https://github.com/synacktiv/php_filter_chain_generator
[submodule "src/STEWS"]
	path = src/STEWS
	url = https://github.com/PalindromeLabs/STEWS
